<div class="row">
  <div class="col-8">
    <div *ngFor="let story of featuredStories | async" class="topic-box" (click)="goToDetailPage(story)">
      <h2 class="
  topic-tag">{{ story.topic }}</h2>
      <h1>{{ story.headline }}</h1>
      <ul class="main-points">
        <figure> <img src="../assets/img/{{story.picture}}" alt="main-image"></figure>
        <li>{{ story.mainpoint1 }}</li>
        <li>{{ story.mainpoint2 }}</li>
      </ul>
    </div>
  </div>
  <div class="col-4">
    <!-- ******* Opinion Column ****** -->
    <div class="opinion">
      <app-opinion></app-opinion>
    </div>
  </div>
</div>