<div class="navbar">
  <img class="icon" src="../assets/img/menu.png" alt="menu">
  <img class="icon" src="../assets/img/search.png" alt="menu">
  <p class="section-label">Politics</p>
  <img class="logo" src="../assets/img/NYTimes logo.png" alt="menu">
  <button class="navbtn">Subscribe Now</button>
  <button class="navbtn">Log In</button>
</div>
<!-- ********** should be a featured-articles component here *********** -->
<div id="borderdammit" class="topic-box">
  <h2 class="topic-tag">the russia inquiry</h2>
  <h1 class="headline">Indicting Stone, Mueller Shows Link Between Trump Campaign and WikiLeaks</h1>
  <ul class="main-points">
    <li></li>
  </ul>
</div>