<div class="navbar">
  <img class="icon" src="../assets/img/menu.png" alt="menu">
  <img class="icon" src="../assets/img/search.png" alt="menu">
  <p class="section-label">Politics</p>
  <img class="logo" src="../assets/img/NYTimes logo.png" alt="menu">
  <button class="navbtn">Subscribe Now</button>
  <button class="navbtn">Log In</button>
</div>
<!-- ********** should be a featured-articles component here *********** -->

<!-- ********** should be an opinion-sidebar component here *********** -->
<div class="opinion-featured">
  <h3>I will have a bunch of opinions!</h3>
  <table>
    <tr>
      <td>Opinion</td>
      <td>Opinion</td>
    </tr>
    <tr>
      <td>Opinion</td>
      <td>Opinion</td>
    </tr>
    <tr>
      <td>Opinion</td>
      <td>Opinion</td>
    </tr>
    <tr>
      <td>Opinion</td>
      <td>Opinion</td>
    </tr>
    <tr>
      <td>Opinion</td>
      <td>Opinion</td>
    </tr>
    <tr>
      <td>Opinion</td>
      <td>Opinion</td>
    </tr>
    <tr>
      <td>Opinion</td>
      <td>Opinion</td>
    </tr>
  </table>
</div>


<!-- <banner-ad></banner-ad> -->
<!-- <navbar></navbar> -->
<!--<header-skybox></header-skybox>-->
<featured-articles></featured-articles>
<app-read-article></app-read-article>
<!-- <sections-footer></sections-footer> -->