<!-- <app-root></app-root> -->
<!-- should be nav-bar component above -->
<!-- <banner-ad></banner-ad> -->
<h1 class="articleHeadline">Border Wall Is Out of Sync With the Southwest’s Changing Politics</h1>
<figure>
  <img src="../../assets/img/largeArticle.jpg" alt="border">
  <figcaption>A portion of the border fence near the port of entry in Columbus, N.M. Each of the nine House members
    whose districts touch the border opposes a wall.</figcaption>
</figure>
<h4 class="reporter-byline">By Trip Gabriel</h4>
<div class="articleText">Lorem ipsum ipsum</div>
<div class="comments"></div>