<p>
  opinion works!
</p>

<!-- <banner-ad></banner-ad> -->
<!--<header-skybox></header-skybox>-->
<!-- <featured-opinion></featured-opinion> -->
<!-- <div class="opinion-featured"> -->
<h3>I will have a bunch of opinions!</h3>
<table>
  <tr>
    <td>Opinion</td>
    <td>Opinion</td>
  </tr>
  <tr>
    <td>Opinion</td>
    <td>Opinion</td>
  </tr>
  <tr>
    <td>Opinion</td>
    <td>Opinion</td>
  </tr>
  <tr>
    <td>Opinion</td>
    <td>Opinion</td>
  </tr>
  <tr>
    <td>Opinion</td>
    <td>Opinion</td>
  </tr>
  <tr>
    <td>Opinion</td>
    <td>Opinion</td>
  </tr>
  <tr>
    <td>Opinion</td>
    <td>Opinion</td>
  </tr>
</table>